In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use("customstyle")
import sys
sys.path.append("../modules")
import PBD_analog
import matplotlib as mpl

with open("C:/Users/pveron/colors/palette1.txt", "r") as f:
    colors = f.read().splitlines()
with open("C:/Users/pveron/colors/ratp.txt", "r") as f:
    palette = f.read().splitlines()

labels = dict(l1 = "\\lambda_1", l2 = "\\lambda_2", l3 = "\\lambda_3",
              m1 = "\\mu_1", m2 = "\\mu_2")
long_labels = dict(l1 = "Initiation rate from good", l2 = "Completion rate", l3 = "Initiation rate from incipient",
              m1 = "Extinction rate of good", m2 = "Extinction rate of incipient")

In [2]:
# Load tree statistics 
statsPBD = pd.read_csv("../PBD_bayesian_fit_CBD/8-gamma_tree_shape/12152/all_simulations_inference.csv")
statsBD = pd.read_csv("../PBD_bayesian_fit_CBD/8-gamma_tree_shape/12152/simulated_BD_trees_stats.csv")
statsVARBD = pd.read_csv("../test_predictions/shape_sim_varBD_trees/simulated_varBD_trees_stats.csv")

In [5]:
statsVARBD

      Unnamed: 0  param_vary  i_param_var  replicate      gamma      SR
0              1           1            1          0        NaN     2.0
1              2           1            2          0        NaN     2.0
2              3           1            3          0  -1.008789     5.0
3              4           1            4          0 -12.659977  1129.0
4              5           1            5          0        NaN     NaN
...          ...         ...          ...        ...        ...     ...
4995        4996           5            1        199  -1.159765    39.0
4996        4997           5            2        199   0.326150     7.0
4997        4998           5            3        199  -1.811372    46.0
4998        4999           5            4        199        NaN     NaN
4999        5000           5            5        199  -1.574814     3.0

[5000 rows x 6 columns]